.container {
    margin: 10vh 10vw;
    height: 80vh;
    width: 80vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    height: 70%;
    width: 50%;
    background-color: red;
    /* animation-name: change1;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in; */
    /* Using short hand way */
    animation: change1 1s 0.5s ease-in-out alternate-reverse infinite;
}

@keyframes change1 {
    from {
        width: 50%;
        height: 70%;
    }
    to {
        width: 60%;
        height: 80%;
    }
}