#p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
}

form input[placeholder] {
    padding: 10px;
    font-size: 30px;
}

.content {
    padding: 20px;
    margin: auto;
    text-align: center;
}

button {
    padding: 8px 15px;
    margin: 1px 2px;
    margin-bottom: 20px;
    font-size: 30px;
}

header nav {
    margin-bottom: 20px;
    font-size: 50px;
}

header {
    text-align: center;
}

body {
    background-color: lightyellow;
}