* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 1px;
    background-image: url(../files/yt-channel.png);
    background-size: cover;
    animation: back-change 4s -.2s infinite normal;
}

.progress {
    height: 2px;
    width: 100vw;
    background-color: red;
    animation: progressbar 1s ease-in 0.1s infinite;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    animation: move 4s cubic-bezier(.27, .26, .5, .49) infinite normal ;
    margin-top: 30vh;
}

#catimg {
    height: 200px;
    width: 201px;
    animation: catdisco 4s infinite normal cubic-bezier(.27, .26, .5, .49);
    /* margin-top: 1000px;
    margin-left: -10px; */
}

.logo1 {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Santipur_B.Ed_College_Logo.png');
    float: left;
}

@keyframes progressbar {
    0% {
        width: 0vw;
    }
    90% {
        width: 30vw;
    }
    100% {
        width: 100vw;
    }
}

@keyframes catdisco {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes move {
    0% {
        margin-left: 0%;
        margin-top: 30vh;
    }
    25% {
        margin-top: 0vh;
        margin-left: 35%;
    }
    50% {
        margin-top: 30vh;
        margin-left: 80%;
    }
    75% {
        margin-top: 65vh;
        margin-left: 35%;
    }
    100% {
        margin-left: 0%;
        margin-top: 30vh;
    }
}

@keyframes back-change {
    0% {
        background-image: url(../files/yt-channel.png);
    }
    25% {
        background-image: url(../files/twt-profile.png);
    }
    50% {
        background-image: url(../files/github-page.png);
    }
    75% {
        background-image: url(../files/bio.png);
    }
    100% {
        background-image: url(../files/yt-channel.png);
    }
}