@media screen and (max-width:1094px) {
    .thumbnail {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .heading {
        padding-top: 5vh;
        width: 100vw;
        text-align: center;
        padding-bottom: 10px;
        font-size: 50px;
    }

    .sample-vid {
        flex-direction: row;
        text-align: center;
        padding: 0px;
        margin: 0px;
        height: 50vh;
    }

    .sample-vid video {
        width: 75%;
        margin-right: 0px;
    }
    
    .dialog {
        width: 90vw;
    }

    @keyframes video-hover {
        from {
            width: 75%;
        }
        to {
            width: 77%;
        }
    }
}
@media screen and (max-width:890px) {
    .search-bar input {
        width: 50vw;
    }
    header nav {
        flex-direction: column;
    }

    .dialog {
        font-size: 45px;
        width: 95%;
    }
}

@media screen and (max-width:790px) {
    .pic1 img {
        width: 450px;
        height: 350px;
    }

    .fast-service {
        height: 80vh;
    }

    @keyframes moving {
        0% {
            transform: translate(-20vw, -6vh);
            width: 450px;
            height: 350px;
        }
        50% {
            transform: translate(20vw, -8vh)  rotateZ(-10deg);
            width: 500px;
            height: 400px;
        }
        100% {
            transform: translate(-20vw, -6vh);
            width: 450px;
            height: 350px;
        }
    }
}

@media screen and (max-width:620px) {
    .pic1 img {
        width: 350px;
        height: 250px;
    }

    @keyframes moving {
        0% {
            transform: translate(-20vw, -6vh);
            width: 350px;
            height: 250px;
        }
        50% {
            transform: translate(13vw, -8vh)  rotateZ(-10deg);
            width: 370px;
            height: 260px;
        }
        100% {
            transform: translate(-20vw, -6vh);
            width: 350px;
            height: 250px;
        }
    }
}

@media screen and (max-width:516px) {
    .l1 {
        flex-direction: column;
    }

    nav ul{
        height: 5vh;
    }

    .testimonials h1 {
        font-size: 35px;
    }

    .box {
        margin-top: 5vh;
    }

    .heading {
        font-size: 40px;
    }

    .thumbnail {
        height: 30vh;
    }

}

@media screen and (max-width:485px){
    .heading {
        font-size: 30px;
    }

    .thumbnail {
        height: 27vh;
        justify-content: center;
        align-items: center;
    }
    
    .sample-vid video {
        width: 80%;
    }

    .sample-vid {
        height: 30vh;
    }

    .dialog {
        font-size: 30px;
    }

    .review img {
        height: 80px;
        width: 80px;
    }

    .comment p {
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {
    .pic1 img {
        width: 250px;
        height: 200px;
        animation: moving 3s ease-in forwards infinite;
    }
    
    .pic1 img:hover {
        animation: moving 3s ease-in forwards 0;
    }

    .fast-service {
        min-width: 300px;
    }

    @keyframes moving {
        0% {
            transform: translate(-20vw, -6vh);
            width: 250px;
            height: 200px;
        }
        50% {
            transform: translate(6vw, -7vh)  rotateZ(-8deg);
            width: 355px;
            height: 255px;
        }
        100% {
            transform: translate(-20vw, -6vh);
            width: 250px;
            height: 200px;
        }
    }
}